.header{
    border-bottom: solid;
}


.Post{
    padding-bottom: 70px;
    border: solid;
    border-color: gray;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.votes{
    display: flex;
    flex-direction: row;
    max-height: 20px;
}